<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
Add note
<form action="#" th:action="@{/add}" th:object="${note}" method="post" style="width:70%; margin:auto">
    <p><textarea placeholder="tags" name="tag" class="form-control" th:field="*{tagList}"></textarea></p>
    <p><textarea placeholder="title" name="title" class="form-control" th:field="*{title}"></textarea></p>
    <p><textarea placeholder="text" name="text" class="form-control" th:field="*{text}"></textarea></p>
    <p class="form-control" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Error text field</p>
    <p><input type="submit" class="btn btn-primary"></p>
    <p><input type="hidden" name="id" th:field="*{id}"></p>
</form>
</body>
</html>