<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="card">
        <h5 th:text="${note.title}" class="card-header"></h5>
        <div th:text="${note.text}" class="card-body"></div>
        <div class="card-footer">
            <a th:href="@{'/note/{id}/edit'(id=${note.id})}" class="btn btn-primary">edit</a>
            <a th:href="@{'/note/{id}/delete'(id=${note.id})}" class="float-right btn">delete</a>
        </div>
    </div>
</div>
</body>
</html>