<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <th:block th:replace="fragments/head :: MDViewFragment"></th:block>
    <th:block th:replace="fragments/head :: highlightFragment"></th:block>
</head>

<body>
<div th:replace="fragments/navbar :: navbar(needSearch = true)"></div>
<div class="container">

    <h2>
        <a href="add">Add note</a>
    </h2>
    <div th:each="note : ${notes}" class="card mb-3">
        <a th:href="@{'/note/{id}'(id=${note.id})}" class="text-muted"><h5 th:text="${note.title}" class="card-header"></h5></a>
        <div th:text="${note.text}" class="card-body pb-2"></div>
        <div class="card-footer">
            <a th:each="tag : ${note.tags}" href="#" class="badge badge-secondary mr-1" th:text="${tag.name}"></a>
        </div>
    </div>
</div>

<script>
    Array.prototype.forEach.call(document.getElementsByClassName('card-body'), el =>
        el.innerHTML = DOMPurify.sanitize(marked(el.innerHTML.replaceAll("&lt;", "<").replaceAll("&gt;", ">"))));
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>