<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <th:block th:replace="fragments/head :: MDViewFragment"></th:block>
    <th:block th:replace="fragments/head :: highlightFragment"></th:block>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <form class="input-group my-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h2>
        <a href="add">Add note</a>
    </h2>
    <div th:each="note : ${notes}" class="card mb-3">
        <a th:href="@{'/note/{id}'(id=${note.id})}" class="text-muted"><h5 th:text="${note.title}" class="card-header"></h5></a>
        <div th:text="${note.text}" class="card-body pb-2"></div>
    </div>
</div>

<script>
    Array.prototype.forEach.call(document.getElementsByClassName('card-body'), el => el.innerHTML = marked(el.innerHTML));
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>