<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <th:block th:replace="fragments/head :: MDViewFragment"></th:block>
    <th:block th:replace="fragments/head :: highlightFragment"></th:block>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="card">
        <h5 th:text="${note.title}" class="card-header"></h5>
        <div th:text="${note.text}" class="card-body"></div>
        <div class="card-footer">
            <a th:href="@{'/note/{id}/edit'(id=${note.id})}" class="btn btn-primary">edit</a>
            <a th:href="@{'/note/{id}/delete'(id=${note.id})}" class="float-right btn">delete</a>
        </div>
    </div>
</div>

<script>
    Array.prototype.forEach.call(document.getElementsByClassName('card-body'), el => el.innerHTML = marked(el.innerHTML));
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>